<!--<div class="task" ng-style="{'background-color':'{{task.color_id}}'}">

  <span class="task_id">#{{task.id}}</span> <span class="task_title">{{task.title}}</span>
</div>-->

<md-card>
      <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
      <md-card-content ng-click="$navigation.task(1,task.id)">
        <h3 class="md-title"><span class="task_id">#{{task.id}}</span> <span class="task_title">{{task.title}}</span></h3>
        <p>
          {{task.description}}
        </p>
      </md-card-content>
      <!--<div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>-->
    </md-card>
    <br>