.projectlist tbody tr:hover {
    background: lightgrey;
}

.task {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: 5px;
    padding: 5px;
}

.task_id {font-weight:bold;}

ng-md-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  margin-top: auto;
  margin-bottom: auto;
  background-repeat: no-repeat no-repeat;
}